@page "/item/{ItemId:guid}"
@using T109.ActiveDive.FrontEnd.Blazor.Components
@using T109.ActiveDive.FrontEnd.Blazor.Pages
@using T109.ActiveDive.FrontEnd.Blazor.Components.ObjectSelector; 

<div class="SkuDetailPage">

   <div class="SkuName">
     <p> @ActualItem.Name</p>
    </div>

    <div class="SkuNameSep"></div>
    
    <ObjectSelector @ref="SmallImgSelector"
                    Objects="@DisplayedObjects" 
                    SelectorPosition="@SelectorPosition" 
                    HolderDivClass="MiniImageHolder SkuDetailPagePart" 
                    RegularObjectDivClass="SkuDetailPageSmallPic SkuDetailPageSmallPicRegular" 
                    SelectedObjectDivClass ="SkuDetailPageSmallPic SkuDetailPageSmallPicSelected"
                    ObjectHeight ="0"
                    ObjectWidth="70" />
 
 <div class="BigImageHolder SkuDetailPagePart">
     <img width="300px" src="@CurrentImageFullPath"/>
 </div>

 <div class="DescriptionHolder SkuDetailPagePart">
      <p> @ActualItem.Description </p>
</div>

<div class="PriceBuyCard">
      <p> @ActualItem.Alias руб.</p>
</div>



</div>
